{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <a href="{{ path('new_book') }}">Добавить книгу</a>
    <a href="{{ path('books') }}">Cписок книг</a>
    <br>
    {% for book in books %}
        <a href="book/{{ book.id }}">
            {{ book.name }}
        </a>
        <br>
        {{ book.description }}
        <br>
        {{ book.author }}
        <br>
        {{ book.publicationYear }}
        <br>
        <img src="{{ book.cover }}">
        <a href="{{ path('book_delete', {'id': book.id}) }}">Удалить</a>
        <a href="{{ path('book_edit', {'id': book.id}) }}">Редактировать</a>
        <hr>
    {% endfor %}
{% endblock %}