{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <form class="form-inline my-2 my-lg-0" action="{{ path('book_search') }}" method="get">
        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Ищем</button>
    </form>
    <a href="{{ path('new_book') }}">Добавить книгу</a>|
    <a href="{{ path('books') }}">Cписок книг</a>|
    <a href="{{ path('authors') }}">Cписок авторов</a>|
    <br>
    {% for book in books %}
        <a href="book/{{ book.id }}">
            {{ book.name }}<a href="{{ path('name_edit', {'id': book.id}) }}">Редактировать</a>
        </a>
        <br>
        {{ book.description }}<a href="{{ path('description_edit', {'id': book.id}) }}">Редактировать</a>
        <br>
        {{ book.author }}<a href="{{ path('author_edit', {'id': book.id}) }}">Редактировать</a>
        <br>
        {{ book.publicationYear }}<a href="{{ path('publication_year_edit', {'id': book.id}) }}">Редактировать</a>
        <br>
        <img src="{{ book.cover }}"><a href="{{ path('cover_edit', {'id': book.id}) }}">Редактировать</a>
        <br>
        <a href="{{ path('book_delete', {'id': book.id}) }}">Удалить</a>
        <hr>
    {% endfor %}
{% endblock %}