{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <a href="{{ path('books') }}">Cписок книг</a>
    <br>
    Название: {{ book.name }}
    <br>
    Описание: {{ book.description }}
    <br>
    <img src="{{ book.cover }}">
    <br>
     Год публикации: {{ book.publicationYear }}
    <br>
{% endblock %}